/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

/* variable */
:root
{
    /* ONLY TEXT COLOURS */
    --normal-text: #212121;
    --normal-bgcolor: #F5F4FA;
    --select-color: white;
    --select-bgcolor: #2196F3;

    --contact-us-color: #757575;

    --nav-header-bgcolor: #ECECEC;
    --sentence-color: #FFFFFF;
    --first-logo-color: #2196F3;
    --second-logo-color: #000000;
    --third-logo-color: #FFFFFF;

    --our-workers-bgcolor: #F5F4FA;
    --content-color: #757575;
    --border: none;

    --street-color: #FFFFFF;

    /* ONLY BACKGROUND COLORS */
    --second-bgcolor: #2F303A;
}

/* all documents */
body
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: var(--normal-text);
    letter-spacing: 0.03em;
    width: 1600px;
    margin: auto;
}

*
{
    box-sizing: border-box;
}

ul li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.main-container
{
    justify-content: center;
    align-items: center;
}

.nav-header
{
    box-sizing: content-box;
    background-color: var(--third-logo-color);
    height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.first-word
{
    display: inline;
    color: var(--first-logo-color);
    margin-top: 0;
    padding-left: 215px;
    padding-right: 93px;
}
.second-word
{
    color: var(--second-logo-color)
}
.third-word
{
    color: var(--third-logo-color)
}
.main-logo, .main-logo-bottom
{
    font-family: 'Raleway', sans-serif;
    font-size: 26px; 
    font-weight: bold;
}

.main-logo-bottom
{
    display: inline-block;
    margin-top: 60px;
}

.navigation
{
    display: flex;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding-right: 321px;
}

.navigation,
.contact-phone,
.contact-mail 
{
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.contact-mail-top,
.contact-phone-top
{
    color: var(--normal-text);
    border: var(--border);
    padding-left: 50px;
}

.contact-mail-bottom,
.contact-phone-bottom 
{
    color: var(--sentence-color);
    border: var(--border);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 215px;
    margin: 0;
    display: inline-block;
}

.contact-phone:hover,
.contact-mail:hover 
{
    color: var(--select-bgcolor);
}

.contact-phone:focus
.contact-mail:focus 
{
    color: var(--select-bgcolor);
}

#sentence
{
    font-size: 44px;
    color: var(--sentence-color);
    letter-spacing: 0,06em;
    padding-top: 220px;
    margin-top: 0;
    margin-bottom: 30px;
    
}
.button-sentence
{
    background-color: var(--second-bgcolor);
    height: 600px;
    text-align: center;
    margin-bottom: 0;
}

.workers-list
{
    height: 648px;
    background-color: var(--our-workers-bgcolor);
    margin-bottom: 0;
    margin-top: 0;
}

.about-us
{
    font-size: 36px;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
    margin: 0;
}

.our-profile_center
{
    margin-left: 30px;
    margin-right: 30px;
}

.our-workers {
    font-size: 36px;
    text-align: center;
    background-color: var(--our-workers-bgcolor);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 94px;
    margin-bottom: 0;
}

.company-profile 
{
    text-align: center;
}

.our-profile
{
    display: inline;
    text-align: center;
    margin: 0;
}

.title-profile
{
    text-transform: uppercase;
    font-weight: 14px;
    margin-top: 94px;
}

.profile-content
{
    color: var(--content-color);
    font-size: 14px;
    width: 270px;
    height: 75px;
}

.company-profile_second-type
{
    box-sizing: border-box;
    padding-left: 30px;
}

/* buttons */

.main-button
{
    color: var(--normal-bgcolor);
    background-color: var(--select-bgcolor);
    border: var(--border);
    cursor: pointer;
    width: 200px;
    height: 50px;
}
.main-button:hover 
{
    color: var(--select-bgcolor);
    background-color: var(--normal-bgcolor);
    border: var(--border);
    cursor: pointer;
}
.main-button:focus 
{
    color: var(--select-bgcolor);
    background-color: var(--normal-bgcolor);
    border: var(--border);
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 94px;
}

button
{
    color: var(--normal-text);
    background-color: var(--normal-bgcolor);
    border: var(--border);
    cursor: pointer;
    width: 93px;
    height: 38px;
}
button:hover 
{
    color: var(--select-color);
    background-color: var(--select-bgcolor);
    cursor: pointer;
}
button:focus 
{
    color: var(--select-color);
    background-color: var(--select-bgcolor);
    cursor: pointer;
}

/* anhor */
a
{
    color: var(--normal-text);
    text-decoration: none;
    border: var(--border);
    font-style: normal;
}
a:hover 
{
    color: var(--select-bgcolor);
    text-decoration: none;
}
a:focus 
{
    color: var(--select-bgcolor);
    text-decoration: none;
}

ul
{
    list-style-type: none;
    padding: 0;
}

/* name and surname (index.html) */
.workers
{
    background-color: var(--our-workers-bgcolor);
    display: inline;
    text-align: center;
}
.first-name
{
    font-weight: Medium;
    color: var(--normal-text);
    text-decoration: none;
}
.profession
{
    color: var(--content-color)
}

/* keyword-alt (portfolio.html) */
.keyword 
{
    font-size: 18px;
    font-weight: Bold;
    color: var(--normal-text);
    text-decoration: none;
}
/* keyword content (portfolio.html) */
.keyword-content
{
    color: var(--content-color);
    letter-spacing: 0.06em;
}

.footer-informations 
{
    background-color: var(--second-bgcolor);
    height: 252px;
}

.street
{
    display: inline;
    color: var(--street-color);
    font-size: 14px;
    width: 252px;
    padding-top: 20px;
    padding-bottom: 9px;
    padding-left: 215px;
    margin: 0;
}

.portfolio-content
{
    display: flex;
    width: 1170px;
    margin-bottom: 94px;
    margin-top: 34px;
    margin-left: 215px;
}